.DS_Store
.env*
CacheClip
Resolve Project Backups
*/*.wav
*/*.mp4
*/*.srt
.gallery/
temp/*
clip*
*_old.*
*key.json
.gcp
.gcp/*
tmp*.json
tmp_transcription.json
materials/*
!materials/TextPlusTemplates
*.wav
tools/*
__pycache__/
node_modules/*
package-lock.json
sandbox
